#header-home{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgba(0,0,0,0.4);
    box-shadow: 60px -16px teal;
}
#content-header{
    width: 85%;
    
    margin: 15px 0 10px 0;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-logo{
    width: 30vh;
}
.headerSectionSearch {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	
}

input {
	border: transparent;
	border-left: 1px solid black;
	outline: 0px;
}

#navegacao-geracao{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}
.geracao{
    width: 12.5%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7vh;
    color: #137aaa;
    cursor: pointer;
    border-right:1px solid #4cabd7;
    transition: 0.3s;
}
.geracao:hover{
    background-color: rgb(91, 198, 248);
}
.noborder{
    border-right:0 solid red ;
}
.menu-hamburguer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-header{
    display: flex;
    align-items: center;
}
.img-menu{
    width: 30px;
}
.close{
    position: absolute;
    
}