#header-home{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgba(0,0,0,0.4);
    box-shadow: 60px -16px teal;
}
#content-header{
    width: 85%;
    
    margin: 15px 0 10px 0;
}
.header-logo{
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
    align-items: center;
}
.sea{
    justify-content: center;
}
.img-logo{
    width: 15vw;
  }
.headerSectionSearch {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	transition: 0.4s;
}

input {
	border: transparent;
	outline: 0px;
}

#navegacao-geracao{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}
.geracao{
    width: 12.5%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7vh;
    color: #137aaa;
    cursor: pointer;
    border-right:1px solid #4cabd7;
    transition: 0.3s;
}
.geracao:hover{
    background-color: rgb(91, 198, 248);
}
.noborder{
    border-right:0 solid red ;
}
.menu-hamburguer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-header{
    display: flex;
    align-items: center;
}
.img-menu{
    width: 35px;
    transition: all 0.5s ease-in-out;
    position: absolute;
}
.clos{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.menu-escondido{
    position: absolute;
    top: 60px;
    width: 100px;
    z-index: 10;
    background-color: #83DCFF;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .5s;
    right: 12px;
    color: #137aaa;
    font-family: 'Roboto', sans-serif;
    display: none;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 38%);
}
.linha{
    width: 20px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 3px auto;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
}
#btn-menu{
    width: 35px;
    height: 35px;
    border: 2px solid #83DCFF;
    border-radius: 8px;
    background-color: #83DCFF;
    cursor: pointer;
    display: none;
}
.busca{
    width: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.headerSectionSearch > a{
    display: flex;
    align-items: center;
}

.menugeracao{
    border-bottom: 1px solid #4cabd7;
    width: 85%;
    margin-left: 7.5%;
    font-weight: 700;
    font-size: 14px;
    line-height: 3.5vh;
    transition: 0.3s;
}
.menugeracao:hover{
    background-color: rgb(91, 198, 248);
}
.borderno{
    border-bottom: 0 solid #4cabd7;
}
@media(max-width:625px){
    #navegacao-geracao{
        display: none;
    }
    .menu-escondido{
        display: block;
    }
    .header-logo{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #btn-menu{
        display: block;
    }
    .img-logo{
        width: 18vw;
        min-width: 82px;
        min-height: 32px;
    }
}
#btn-menu.ativar .linha:nth-child(1){
    transform: translateY(5px) rotate(-45deg);
}
#btn-menu.ativar .linha:nth-child(3){
  
    transform: translateY(-5px) rotate(48deg);
}
#btn-menu.ativar .linha:nth-child(2){
    width: 0;
}