main{
    display: flex;
    justify-content: center;
}
#Pokedex{
    width: 85%;
    display: flex;
    justify-content: center;
}
#PrimeiraGeracao, #SegundaGeracao, #TerceiraGeracao, #QuartaGeracao, #QuintaGeracao, #SextaGeracao,#SetimaGeracao, #OitavaGeracao{
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    position: absolute;
    opacity: 0;
    gap: 4vh 3vw;
    justify-content: flex-start;
    transition: 0.3s;
}
#Procurado{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 76%;
    gap: 4.4vh 3vw;
    position: absolute;
    transition: 0.3s;
}
#PrimeiraGeracao{
    opacity: 1;
}