.caixa-pokemon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    gap: 4vh 0;
    margin-top: 4vh;
}
.caixa-pokemon > div{
    width: 30%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 38%);
    cursor: pointer;
}
.content-pokemon{
    height: 100%;
    transition: 0.3s;
}
.content-pokemon:hover{
    transform: scale(1.09);
}
.img-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}
.circle-img{
    background-color: #ffffff21;
    border-radius: 180px;
    width: 100px;
    height: 100px;
    
    position: absolute;
}
.img-pokemon img{
    width: 120px;
    height: 120px;
}
.infos-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}
.name-pokemon{
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.type-pokemon{
    color: white;
    background-color: #ffffff21;
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    
    font-weight: bold;
}
.viewPoke {
	display: none;
	position: fixed;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(164, 172, 175,0.8);
	color: white;
	z-index: 1;
    top:0;
    left: 0;
}
.contentView {
    width: 80%;
    height: 80%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    position: relative;
}
.id-background{
    font-family: "Montserrat";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.22);
    font-size: 10.5vw;
}
.id-background h1{
    text-align: center;
}
.img-pokemon-view{
    width: 100%;
    position: absolute;
    z-index: 40;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.img-pokemon-view .img-pokeaaaa{
    width: 220px; 
}

.Pokeview-content{
    height: 55%;
}
.poke-name-type{
    margin-left: 8px;
}
.acertando{
    display: flex;
    align-items: center;
    padding-top: 11vh;
    gap: 5%;
}
.all-itens-poke{
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    gap: 1vh;
}
.img-type{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: 0.3s;
}

.name-pok-content{
    font-style: normal;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
.status-pokemon{
    position: absolute;
    bottom: 0;
    font-family: "Montserrat";
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}
.status-pokemon-pri{
    display: flex;
    align-items: center;
}
.status-pokemon-sec{
    display: flex;
    flex-direction: column;
}
.status-pokemon-name{
   
    padding-right: 10px;
}
.name-status{
    width: 135px;
    padding-right: 10px;
}
.barra-branca{
    height: 15px;
    border-radius: 15px;
    background-color: white;
}
.status-pokemon-content{
    display: flex;
    align-items: center;
}
.barra-status{
    transition: 0.3s;
}
.all-itens-poke{
    display: flex;
    flex-direction: column;
}
.all-itens-poke-pri{
    display: flex;
    align-items: center;
}
.all-itens-poke-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-itens-poke-sec p{
    font-size: 20px;
    font-weight: 100;
}
.barra-status{
    width: 280px;
}



.poison{
    background-color: #B97FC9;
    border-radius: 20px;
}
.bug{
    background-color:  #719F3F;
    border-radius: 20px;
}

.grass{
    background-color: #63BC5A;
    border-radius: 20px;
}
.fairy{
    background-color: #EC8FE6;
    border-radius: 20px;
}
.normal{
    background-color: #919AA2;
    border-radius: 20px;
}
.dragon{
    background-color: #0B6DC3;
    border-radius: 20px;
}
.psychic{
    background-color: #fa7179;
    border-radius: 20px;
}
.ghost{
    background-color: #5269AD;
    border-radius: 20px;
}
.ground{
    background-color: #D97845;
    border-radius: 20px;
}
.steel{
    background-color: #5A8EA2;
    border-radius: 20px;
}
.fire{
    background-color: #FF9D55;
    border-radius: 20px;
}
.flying{
    background-color: #89AAE3;
    border-radius: 20px;
}
.ice{
    background-color: #73CEC0;
    border-radius: 20px;
}
.electric{
    background-color: #F4D23C;
    border-radius: 20px;
}
.rock{
    background-color: #C5B78C;
    border-radius: 20px;
}
.dark{
    background-color: #5A5465;
    border-radius: 20px;
}
.water{
    background-color: #87AFD5;
    border-radius: 20px;
}
.fighting{
    background-color: #CE416B;
    border-radius: 20px;
}
.poison{
    background-color: #B567CE;
    border-radius: 20px;
}


.viewpoison{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #B97FC9;
    background-blend-mode: soft-light, normal;   
}
.viewbug{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #719F3F;
    background-blend-mode: soft-light, normal;
}

.viewgrass{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #63BC5A;
    background-blend-mode: soft-light, normal;
}
.viewfairy{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #EC8FE6;
    background-blend-mode: soft-light, normal;
}
.viewnormal{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #919AA2;
    background-blend-mode: soft-light, normal;
}
.viewdragon{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #0B6DC3;
    background-blend-mode: soft-light, normal;
}
.viewpsychic{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #fa7179;
    background-blend-mode: soft-light, normal;
}
.viewghost{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #5269AD;
    background-blend-mode: soft-light, normal;
}
.viewground{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #D97845;
    background-blend-mode: soft-light, normal;
}
.viewsteel{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #5A8EA2;
    background-blend-mode: soft-light, normal;
}
.viewfire{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #FF9D55;
    background-blend-mode: soft-light, normal;
}
.viewflying{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #89AAE3;
    background-blend-mode: soft-light, normal;
}
.viewice{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #73CEC0;
    background-blend-mode: soft-light, normal;
}
.viewelectric{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #F4D23C;
    background-blend-mode: soft-light, normal;
}
.viewrock{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #C5B78C;
    background-blend-mode: soft-light, normal;
}
.viewdark{
    
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #5A5465;
    background-blend-mode: soft-light, normal;
}
.viewwater{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #87AFD5;
    background-blend-mode: soft-light, normal;
}
.viewfighting{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #CE416B;
    background-blend-mode: soft-light, normal;
}
.viewpoison{
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #B567CE;
    background-blend-mode: soft-light, normal;
}