@import 'css/header.css';
@import 'css/main.css';
@import 'css/pokemons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
  }
body{
  background: url("assets/print_video.png");
  -webkit-background: url("assets/print_video.png");
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-position: center;
  -webkit-background-position: center;
} 
    
  .video-parallax {
    bottom: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .header-parallax {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
  }
  .header-parallax-video {
    margin: 0;
    position: relative;
    background-color: #82B773;
    height: 100%;
  }


.img-logo{
  width: 15vw;
}


@media (max-width:780px){
  .caixa-pokemon > div{
    width: 45%;
    
  }
}
@media (max-width:1000px){
  .geracao{
    font-weight: 700;
    font-size: 15px;
  }
}
@media (max-width:830px){
  .geracao{
    font-weight: 700;
    font-size: 13px;
    height: 5vh;
  }
}
@media (max-width:650px){
  .geracao{
    font-weight: 700;
    font-size: 12px;
    height: 5vh;
  }
  
  #PrimeiraGeracao, #SegundaGeracao, #TerceiraGeracao, #QuartaGeracao, #QuintaGeracao, #SextaGeracao,#SetimaGeracao, #OitavaGeracao{
    width: 85%;
  }
}
@media (max-width:570px){
  .name-pokemon{
    font-size: 26px;
  }
  .type-pokemon{
    font-size: 18px;
  }
}
@media (max-width:440px){
  .img-pokemon{
    padding: 5px 0;
  }
  .caixa-pokemon > div{
    width: 47%;
  }
  .name-pokemon{
    font-size: 24px;
  }
  .type-pokemon{
    font-size: 16px;
  }
  
}
@media (max-width:825px){
  .id-background{
    font-size: 7vw;
  }
}
@media (max-width:760px){
  .acertando{
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .img-pokemon-view .img-pokeaaaa{
    width: 160px;
    height: 140px;
  }
  .todas-barras-status{

  }
}
@media (max-width:700px){
  .id-background{
    font-size: 9vw;
  }
  .todas-barras-status{
    width: 220px;
  }
}
@media (max-width:700px){
  
  .status-pokemon{
    flex-direction: column;
    padding-bottom: 15px;
    gap: 10px;
  }
  .status-pokemon-name{
    display: flex;
    flex-direction: column;
    gap: 1.8px;
  }
  .status-pokemon-num{
    display: flex;
    flex-direction: column;
    gap: 1.8px;
  }
  .status-pokemon-num p{
    font-size: 12px;
  }
  .status-pokemon-name p{
    font-size: 12px;
  }
  .barra-status{
    height: 12px;
  }
}
@media (max-width:565px){
  .id-background{
    font-size: 10vw;
  }
  .img-type{
    width: 45px;
    height: 45px;
  }
}
@media (max-width:500px){
  
    .contentView{
      height: 50%;
    }
    .status-pokemon-name p{
      font-size: 10px;
    }
    .todas-barras-status{
      width: 160px;
    }
    .status-pokemon{
      padding-bottom: 30px;
    }
    .name-pok-content{
      font-size: 1.8em;
    }
    .img-type{
      width: 40px;
      height: 40px;
    }
    .img-pokemon-view .img-pokeaaaa {
      width: 140px;
      height: 120px;
  }
  .barra-status{
    height: 10px;
  }
}



