@import 'css/header.css';
@import 'css/main.css';
@import 'css/pokemons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    
  }
  a{
    text-decoration: none;
  }
body{
  background: url("assets/print_video.png");
  background-attachment: fixed;
  background-position: center;
} 
    
  .video-parallax {
    bottom: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .header-parallax {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
  }
  .header-parallax-video {
    margin: 0;
    position: relative;
    background-color: #82B773;
   height: 100%;
  }


.img-logo{
  width: 15vw;
}


@media (max-width:780px){
  .caixa-pokemon > div{
    width: 45%;
    
  }
}
@media (max-width:1000px){
  .geracao{
    font-weight: 700;
    font-size: 15px;
  }
}
@media (max-width:830px){
  .geracao{
    font-weight: 700;
    font-size: 13px;
    height: 5vh;
  }
}
@media (max-width:650px){
  .geracao{
    font-weight: 700;
    font-size: 12px;
    height: 5vh;
  }
  
  #PrimeiraGeracao, #SegundaGeracao, #TerceiraGeracao, #QuartaGeracao, #QuintaGeracao, #SextaGeracao,#SetimaGeracao, #OitavaGeracao{
    width: 85%;
  }
}
@media (max-width:570px){
  .name-pokemon{
    font-size: 26px;
  }
  .type-pokemon{
    font-size: 18px;
  }
}
@media (max-width:440px){
  .img-pokemon{
    padding: 5px 0;
  }
  .caixa-pokemon > div{
    width: 47%;
  }
  .name-pokemon{
    font-size: 24px;
  }
  .type-pokemon{
    font-size: 16px;
  }
  
}



